@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));

html.light {
  color-scheme: light;
  background-color: #ffffff;
  color: #0f172a;
}

html.dark {
  color-scheme: dark;
  background-color: #020617;
  color: #f8fafc;
}
